<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Welcome to CodeIgniter</title>
	<link href="<?php echo base_url()?>assets/css/mycss.css" type="text/css" rel="stylesheet">
</head>
<body>

<div id="container">
	<h2>this is the demo page!</h2>
	<h1>Welcome to CodeIgniter!</h1>
		<div id="body">
		<p>The page you are looking at is being generated dynamically by CodeIgniter.</p>

		<p>If you would like to edit this page you'll find it located at:</p>
		<code>application/views/welcome_message.php</code>
		<hr>

		<p>The corresponding controller for this page is found at:</p>
		<code>application/controllers/Welcome.php</code>

		<p>If you are exploring CodeIgniter for the very first time, you should start by reading the <a href="user_guide/">User Guide</a>.</p>
	</div>
	<form action=""  method="post">
    <input name="testtxt" type="text" value="ddd"/>
    <input name="" type="submit" value="重置所有密码" />
    <div id="msg"></div>
    
    </form>
</div>
</body>
</html>